.form{
	background-image:url(../img/orange.jpg); 
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	padding-top: 100px;
	position: relative;
	padding-bottom: 100px;
}

.form .container{
	padding-top:60px;
	top: 50%;
	text-align: center;
	background-color: #4FB99F;
	height: auto;
	border-radius: 50px;
}

.form button{
	display: inline-block;
}

.form input{
	width: 70%;
	margin: auto;
}

.form .form-control{
	margin: auto;
	width: 70%;
}

.form .radio-inline{
	margin:  10px;

}
